/*======================== GALLERY ======================*/
#gallery {
	border: 1px solid red;
	width: 80%;
	height: 100%;
	margin: 10px auto 50px auto;
}

.container {
	border: 1px solid yellow;
	width: 10px;
	height: 10px;
	margin: auto auto auto auto;
}

/*======================== SIGNUP ======================*/
#signup {
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	font-size: 13px;
	font-family: Georgia;
	padding-top: 5%;
}

#signup input {
	margin: 10px 20px 0 20px;
	font-size: 16px;
	font-family: Georgia;
	display: block;
	border: none;
}

.error {
	color: red;
	margin: 0 0 0 20px;
}

#success {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 2;
	background-color: #98FB98;
	transform: translate(-50%, -50%);
	font-size: 16px;
	font-family: Georgia;
	color: #1D2951;
	text-align: center;
	padding: 10px 10px 10px 10px;
}

/*======================== CAPTURE ======================*/
#stream	{	position: absolute;	}
#myCanvas {	
	position: absolute;
	display: none;
}
#save {
	position: absolute;
	display: none;
}

/*======================== GLOBAL ======================*/
body {
	margin: 0 0 0 0;
	background-color: Azure;
}

#go {
	position: absolute;
	padding: 7px 7px 7px 7px;
	top: 50%;
	left: 50%;
	text-decoration: none;
	transform: translate(-50%, -50%);
	color: #1D2951;
	font-size: 50px;
	border-radius: 8px;
	text-align: center;
}

#go:hover {
	background-color: #1D2951;
	color: #98FB98;
}

#header {
	width: 100%;
	padding: 4px 0 4px 0;
	background: #00AD83;
	border-bottom: 1px solid #98FB98;
	box-shadow: 0 0 0 1px yellow;
}

.link {
	padding: 2px 2px 2px 2px;
	margin: 2px 6px 2px 6px;
	border-radius: 4px;
	font-family: Georgia;
	font-size: 20px;
	text-align: center;
	text-decoration: none;
	color: #1D2951;
}

.link:hover {
	background-color: #1D2951;
	color: Azure;
}

#footer {
	width: 100%;
	position: fixed;
	bottom: 0;
	padding: 4px 0 4px 0;
	background: #00AD83;
	text-align: right;
	color: #98FB98;
	font-family: Georgia;
	font-size: 12px;
	border-top: 1px solid #98FB98;
	box-shadow: 0 0 0 1px yellow;
	overflow: auto;
}

.btns {
	display: block;
	padding: 2px 2px 2px 2px;
	margin: auto auto auto auto;
	border-radius: 4px;
	font-family: Georgia;
	font-size: 16px;
	color: #1D2951;
	border: none;
	background-color: transparent;
}

.btns:hover {
	background-color: #1D2951;
	color: Azure;
}
#back {
	position: fixed;
	padding: 2px 2px 2px 2px;
	left: 10px;
	bottom: 25px;
	border-radius: 4px;
	font-family: Georgia;
	font-size: 20px;
	text-align: center;
	text-decoration: none;
	color: #1D2951;
}

#back:hover {
	background-color: #1D2951;
	color: Azure;	
}

.drpdwn {
	padding: 10px 20px 10px 20px;
	font-family: Georgia;
	font-size: 15px;
	color: #00AD83;
}

#login_form {
	text-align: center;
	width: 100%;
	margin: 10px 0 10px 0;
	position: relative;
	display: none;
	z-index: 1;
}

#login_form input {
	border: none;
	font-size: 12px;
	font-family: Georgia;	
}

#session {
	position: absolute;
	padding: 4px 0 4px 0;
	width: 150px;
	top: 0;
	right: 40px;
	background-color: #98FB98;
	text-align: center;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

#session a {
	text-decoration: none;
	display: none;
	font-size: 13px;
	color: #00AD83;
}

#session a:hover {
	color: #1D2951;
}

#session:hover #login_form, #session:hover a {
	display: block;
}

::placeholder {
	color: lightgrey;
    opacity: 1;
}

button:focus {outline:0;}
input:focus {outline:0;}

@media only screen and (max-width: 400px) {
	.link, #back {
		font-size: 15px;
		border-radius: 2px;
	}
	#back {
		left: 10px;
		bottom: 20px;
	}
	#header {padding: 5px 0 5px 0}
	#session {padding: 5px 0 5px 0}
	#footer {padding: 5px 0 5px 0}
}

@media only screen and (min-width: 800px) {
	.link, #back {
		font-size: 25px;
		border-radius: 6px;
	}
	#back {
		left: 10px;
		bottom: 45px;
	}
	#header {padding: 10px 0 10px 0}
	#session {padding: 10px 0 10px 0}
	#footer {padding: 10px 0 10px 0}
}
/*
Azure
#1D2951 - Space Cadet
#98FB98 - Mint Green
#00AD83 - Green Pantone
*/